.list-wrap {
  display: flex;
  flex-wrap: wrap;
}
.list-wrap h2 {
  margin-left: 50%;
  transform: translateX(-50%);
}
.card {
  height: 200px;
  display: flex;
  width: 20%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid pink;
}
.card img {
  margin-bottom: 0.75rem;
  border-radius: 100px;
}
.card p {
  text-align: center;
  font-size: 85%;
}
